.li {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 510;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  position: relative;
  color: rgb(65, 65, 65);
}

.li:hover {
  color: #4c1d95;
}

.link {
  position: relative;
  z-index: 2;
}

.active {
  color: #4c1d95;
}

.activeBlob {
  position: absolute;
  bottom: -4px;
  right: 0;
  left: 0;
  height: 3px;
  border-radius: 999px;
  background: #4c1d95;
}