.container{
    margin: 2.5%;
    padding: 0.5rem;
    background-color: red;
    height: 60vh;
    width: 90%;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
}
.part1,.part2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    height: 100%;
}
.part1{
    width: 60%;
}
.part2{
    width: 40%;
}
.selfStart{
    margin-top: 10%;
    padding: 0.4rem;
    max-height: 60%;
}
.selfEnd{
    display: flex;
    margin-top: auto;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1.5rem;
}
.part1>.selfEnd{
    display: flex;
    margin-top: auto;
    justify-content: flex-start;
    gap: 0.4rem;
    align-items: center;
    padding-bottom: 1.5rem;
}
@media (max-width:728px) {
    .container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 90vh;
        overflow-y: scroll;
    }
    .part1,.part2{
        width: 90%;
        max-width: 90%;
    }
    
}
