.nav {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0.1rem;
  background-color: white;
  border: 1px solid rgb(224, 219, 219);
  z-index: 100;
}

.ul {
  display: flex;
  gap: 3rem;
  padding: 0, 1.5rem;
  justify-content: space-evenly;
}

.fend{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.4rem;
  align-items: center;
  align-self: flex-end;
}

.nav2 {
  border-radius: 30% 0% 30% 30%;
  position: absolute;
  transform: translate(100%, 60%);
  margin-right: 10%;
  width: auto;
  height: 7rem;
  background-color: white;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}

.menuIcon {
  display: none;
}

@media (max-width:768px) {
  .nav>.ul {
    display: none;
  }

  .menuIcon {
    display: block;
  }
  .mobileUl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.7rem;
  }
  .nav2{
    z-index: 100;
  }

}

@media (min-width:768px) {
  .nav2 {
    display: none;
  }

}